#titulo {
    background-color: #C4C4C4;
   
}
h1 {
    color: #005677
}
h2 {
    background-color: #C4C4C4;
    color: #005677
}

#redes {
    background-color: #005677;
    color: #FFFFFF;
    ;
}
